*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.fondo{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
    background-image: url(./img/macarons.jpg); 
    background-size: cover; 
    overflow: hidden; 

}
.login-contenedor{
    width: 60%;    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;       
}
.login{
    width: 30%;
    height: 30em;
    border-radius: 2em;   
    background-color: rgba(88, 179, 184, 0.671);
    box-shadow: 0px 1px 10px rgba(0,0, 0, 0.8);
}
.login-logo{
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-logo img{
    width:35%;
    margin-top: 20px;
}
.login-title{
    display: flex;
    justify-content: center;
}
h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 350;
    
}

.login-input{
    height: 210px;
    display: flex;
    justify-content: center; 
      
}
.login-input form{
    display: flex;
    justify-content: center;
    flex-direction: column;    
}
.input{
  height: 40px;
  width: 15vw;
  border: solid 1px rgb(184, 190, 194);
  border-radius: 3px;
  outline: none;
}
.login-input button{
    height: 30px;
    width: 15vw;
    margin-top: 20px;
    color: black;
    border-radius: 1em;
    border:solid 1px rgb(166, 204, 206);
    background-color: rgb(172, 235, 238);
    box-shadow: 0px 1px 10px rgba(0,0, 0, 0.9);
}

.login-button-password{    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
}
.login-button-password button{
    border-radius: 4px;
    border: solid 1px;
    background-color: rgb(172, 235, 238);
    width: 10vw;
}
.login-button-register{    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    margin-top: .5em;
  
}
.login-button-register button{
    border-radius: 4px;
    border: none;
    background-color: rgba(172, 235, 238, 0);
    width: 10vw;
    color: rgb(17, 9, 116);
  
   
}
.login-button-register button a:hover{
    color:rgb(13, 109, 206);
}
 button{
     cursor: pointer;
 }
 .login-button-password button:hover{
     color:crimson;
 }
 .login-input button:hover{
    background-color: rgb(231, 228, 228);
    color: rgb(21, 177, 224);
}
.button-cont a:hover{
    color: rgb(21, 177, 224);
}
/*-------------*/
.footerlogin{
    width: 100%;
    height: 10vh;
    background-color:rgb(88, 180, 184) ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footerlogin h4{
    color: white;
    font-weight: 100;
    font-size: .6em;
    margin-bottom: 1em;
    
}
.cont-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-icons i {    
    color: white;
    font-size: 1.5em;
    margin: 0px 10px;
    margin-bottom: .5em;
}

.container-icons h2 {
    color: white;
}

.icon-facebook:hover{
    color: #3b5998;
    cursor: pointer;
}

.icon-twitter:hover{
    color: #1da1f2;
    cursor: pointer;
}

.icon-instagram:hover{
    color: #5851db;
    cursor: pointer;
}

@media (min-width: 280px) and (max-width: 540px)
{   
    body{
        height: 100vh;
    }
    .fondo{
        width: 100%;
        height:85vh;
      
    
    }
    .login-contenedor
       {/*CONTENEDOR FORMULARIO*/
        width: 100vw;
           
        }
        .login{
            width: 90vw;      
             
        }

        .input{
            width: 70vw;         
                   
        }
        .cont-contraseña input{
            width: 70vw;                  
        }       
      
        .login-button-password button{
            width: 70vw;
        }
        .login-button-register button{
            width: 70vw;
        }
        .login-input button{
            width: 70vw;
        }
        .login-logo img{
            width: 35%;
        }
        .footerlogin{           
            height: 15vh;
          
        }
}

@media (min-width: 540px) and (max-width: 700px)
{
    .login-contenedor
    {/*CONTENEDOR FORMULARIO*/
     width: 80vw;
     height: 90vh;       
     }
     .login{
         width: 70vw;    
          
     }

     .input{
         width: 50vw; 
                
     }
     .cont-contraseña input{
         width: 50vw;                  
     }       
   
     .login-button-password button{
         width: 50vw;
     }
     .login-button-register button{
        width: 50vw;
    }
     .login-input button{
         width: 50vw;
     }
     .login-logo img{
         width: 30%;
     }
    
}
@media (min-width: 700px) and (max-width: 1040px){
    .login-contenedor
    {/*CONTENEDOR FORMULARIO*/
     width: 60vw;
     height: 85vh;       
     }
     .login{
         width: 40vw;      
     }

     .input{
         width: 30vw;                
     }
     .cont-contraseña input{
         width: 30vw;                  
     }       
   
     .login-button-password button{
         width:30vw;
     }
     .login-button-register button{
        width:30vw;
    }
     .login-input button{
         width: 30vw;
     }
     .login-logo img{
         width: 30%;
     }
    
}
@media (min-width: 1040px) and (max-width: 1440px){
    .login-contenedor
    {/*CONTENEDOR FORMULARIO*/
     width: 60vw;
     height: 85vh;       
     }
     .login{
         width: 30vw;      
     }

     .input{
         width: 20vw;               
     }
     .cont-contraseña input{
         width: 20vw;                  
     }       
   
     .login-button-password button{
         width:20vw;
     }
     .login-button-register button{
        width:20vw;
    }
     .login-input button{
         width:20vw;
     }
     .login-logo img{
         width: 30%;
     }
    
}