*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-wrap: wrap;   
    
}
html{
    scroll-behavior: smooth;
}
h1{
    font-family: 'Solway', serif;
    font-size: 4em;
    font-weight: 400;
    animation:pulse;
    animation-duration:1.5s;
}
 h2, h3, h4{
    font-family: 'Solway', serif;
}
p{
    font-family: 'Pavanam', sans-serif;
}
a{
    font-family: 'Pavanam', sans-serif;
    text-decoration: none;
    font-weight: 400;
}
.espacio-fondo-nav{
    background-color: white;
    width: 100%;    
    height: 5.8em;
    min-width: 250px;
}
.espacio-nav{
    background-color:rgb(238, 250, 253);
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 100;
    position: fixed;
    border-bottom: 1px solid rgb(60, 169, 202);
    box-shadow: 5px 0 10px rgba(0,0, 0, 0.6);  
}
.logo img{
    width: 200px;
    margin: 1em;
    margin-top: .2em;
}
.logo img:hover{
    animation: headShake;
    animation-duration:1.5s;    
}
.logo-portada img{
    width: 40%;
    margin-bottom: 2em;
    margin-top: 2.5em;
    min-width: 250px;
}
.menu{    
    width: 70%;
    height: 75px;
    display: flex;
    justify-content: space-between; 
    align-items: center;      
    background-color:rgb(238, 250, 253);
      
}
.menu_items{
    display: flex;
    font-size: 1.2em;
    margin: 1em;
    
}
.menu_items li{
    list-style: none;
}
.menu_items li a {
    text-decoration: none;
    margin-left: 1em;    
    font-size: 1em;
    display: block;
    color: black;
    text-transform: uppercase;
    padding-left: .3em;
    padding-right: .3em;
    border-radius: .5em;
}
.menu_items  a:hover{
    color: #46daee;
    background-color: rgb(46, 117, 179);
    transition: .6s;
}
.menu_items .login{
    background-color:#51a8b1;
    border-radius: .5em;
    padding-left: .3em;
    padding-right: .3em;   
    box-shadow: 0px 1px 10px rgba(0,0, 0, 0.6);
}
.btn_menu{
    margin-right: 30px;
    font-size: 25px;
    cursor: pointer;
    display: none;
}
.btn_login{
    margin-right: 30px;
    font-size: 25px;
    cursor: pointer;
    display: none;
}
ul.show {
    top:65px;
}


/****************************/
.logo-portada{
    display: flex;
    justify-content: center; 
    min-width: 250px;   
}

.portada{
    width: 100%;
    height: 35em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(./img/p1.jpg);
    background-size: cover;
    background-repeat: no-repeat;  
    background-attachment: fixed; 
    box-shadow: 0px 1px 0px rgba(0,0, 0, 0.2);
    min-width: 250px;      
}
.portada h1{   
    color: white;
    z-index: 50; 
}
.portada h4{
    color: white;
    z-index: 50; 
}
.portada-capa{
    position: absolute;
    width: 100%;
    height: 35em;
    background-color: rgba(95, 158, 160, 0.527);
    min-width: 250px;
}

/*******************************/
/*******************************/



.welcome{
    width: 70%;
    margin: 3em;    
    min-width: 250px;
}
.welcome-cont{
    display: flex;
    flex-wrap: wrap;
}
.description{
    text-align: center;
    margin: 2em;    
    animation: backInUp;
    animation-duration:3s;
    min-width: 250px;
    border-bottom: solid 3px rgb(182, 182, 182); 
}
.description h2{
    font-size: 3em;
}
.description p{    
    font-size: 1.5em;
    margin: 2em;
    min-width: 250px;
}
.description button a{
    font-size: 1.8em;    
    text-decoration: none;
    color: white;    
}
.description button a:hover{    
    color: crimson;
}
.description button{
    background-color:#51a8b1;
    border: none;
    margin-bottom: 1em;
    padding: .5em;
    box-shadow: 0px 1px 10px rgba(0,0, 0, 0.6);
}
.description button:hover{
    background-color: aliceblue;
}
.infognral{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    animation:fadeInBottomLeft;
    animation-duration:3s;
    min-width: 250px;
    
}
.infognral i{
    font-size: 3em;
    background-color:#51a8b1;
    padding: .5em;
    color: white;
    box-shadow: 0px 1px 10px rgba(0,0, 0, 0.6);    
}
.infognral p{
    font-size: 1.2em;
}
.infognral h3{
    font-size: 1.5em;
    padding: 1em;
}
.info1{
    width: 25em;
    height: 25em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


.info2{
    width: 25em;
    height: 25em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.info3{
    width: 25em;
    height: 25em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
}

/*******************************/
.fondo-img{
    background-image:url(./img/fondoimg1.jpg);
    width: 100%;
    height: 25em;
    background-size: cover;
    background-repeat: no-repeat;  
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;  
}
.fondo-img2{
    background-image:url(./img/fondoimg2.jpg);
    width: 100%;
    height: 30em;
    background-size: cover;
    background-repeat: no-repeat;  
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap; 
}
/*******************************/

.espacio-cards{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
    margin: 1em;
}
.card-producto{
    width: 25em;
    height: 40em;
    overflow: hidden;
    margin: 7em;
    border-radius: 0.8em;
    background-color: rgb(184, 223, 223);
    box-shadow: 0px 1px 10px rgba(0,0, 0, 0.2);
    transition: all 400ms ease;
    text-align: center;
}
.card-producto:hover{
    box-shadow: 5px 5px 20px rgba(0,0, 0, 0.4);
    transform: translateY(-3%);

}
.card-producto p{
    line-height: 1.5;
    color: #6a6a6a;
}

.card-producto img{
   width: 100%;
   height: 25em;
   object-fit: cover;
   object-position: center;
   
}
.card-producto h3{
    font-size: 2em;
    padding: .5em;
}
.card-producto p{
    font-size: 1.5em;
    padding: .5em;
}
.espacio-carrusel{
    margin-bottom: 3em;
}
.cont-carrusel{
    width: 58vw;
    height: 35em;      
    align-items: center;
    justify-content: center;   
    
}
.slide img{
      
    height:35em;
    background-size: cover;
}
.slide{
    margin-bottom: 1em;
}


.espacio-contacto{
    width: 100%;
    height: 50em;
    background-image:url(./img/fondoimg2.jpg) ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-attachment: fixed;
    
}
.espacio-contacto-capa{
    position: absolute;
    width: 100%;
    height: 50em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(88, 179, 184, 0.623);
}
.cont-contacto{/*CONTENEDOR FORMULARIO*/
    width: 30%;
    height: 40em;
    padding-bottom: 3em;
    background-color:#51a7b193;
    display: flex;
    justify-content: center;
    border-radius: 10px; 
    flex-direction: column;
    border: 2px solid cadetblue;
    box-shadow: 1px 2px 10px rgba(0,0, 0, 0.6);
}
.contacto-titulo{
    text-align: center;
    
}
.contacto-titulo h2{
    padding-bottom: .5em;
    font-size: 3em;
    color: white;
}
.form-contacto{
    width: 100%;       
    display: flex;
    justify-content: center;
    align-items: center;
     
}
.form-contacto input{
    width: 19vw;
    height: 4em;
    margin-top: 1em; 
    border: 2px solid cadetblue;
}
.form-contacto textarea{
    max-width: 100%;
    max-height: 6em;
    min-height: 4em;
    margin-top: 2em;
    border: 2px solid cadetblue; 
}
textarea{
    width: 19vw;
}

.cont-btn button{
    width: 19.2vw;
    height: 2em;
    margin-top: 2em;
    border: 2px solid cadetblue; 
    cursor: pointer;
}
.cont-btn button{
    font-size: 1.5em;    
    text-decoration: none;
    color: white; 
    background-color:#45c6d4;
    border: none;
    box-shadow: 0px 1px 10px rgba(0,0, 0, 0.6);   
}
.cont-btn button:hover{    
    color: #46daee;
}

.cont-btn button:hover{
    background-color: rgb(46, 117, 179);
}
/*-------------*/
footer{
    width: 100%;
    height: 8em;
    background-color:#51a8b1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer h4{
    color: white;
    font-weight: 100;
    font-size: .8em;
    margin-bottom: 1em;
    
}
.cont-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.container-icons i {
    
    color: white;
    font-size: 1.5em;
    margin: 0px 10px;
    margin-bottom: .5em;
}

.container-icons h2 {
    color: white;
}

.icon-facebook:hover{
    color: #3b5998;
    cursor: pointer;
}

.icon-twitter:hover{
    color: #1da1f2;
    cursor: pointer;
}

.icon-instagram:hover{
    color: #5851db;
    cursor: pointer;
}


@media (min-width: 300px) and (max-width: 858px){
   
    h1{
        font-size: 1.2em;
    }
    h4{
        font-size: 1em;
    } 


    .cont-carrusel{
        width: 0vw;
        height:0em;       
    }
    .logo img{
        width: 150px;
        margin-bottom: .5em;
        margin-top:0em;        
    }
    .menu_items li a {
        font-size: 16px;
    }
    .menu{
        width: 100%;
        height: 65px;
    }
    .btn_menu{
        display: inline-flex;
    }
    .btn_login{
        display: inline-flex;
    }
    .btn_login i{
        color: #414141;
    }
    .btn_login i:hover, i.active{
        color: #5851db;
    }
    .menu_items{
        position: fixed;
        width: 100%;
        height: calc(100% - 65px);
        background: #414141;
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;        
    }
    .menu_items li {
        margin: 30px 0 0 0 ;
        line-height: 30px;
    }
    .menu_items li:hover{
        background: none;
    }
    .menu_items li a {
        font-size: 20px;
        color: #fff;
        font-weight: bold;
    }
    .menu_items li a:hover{
        color:#51a8b1
    }


    .logo-portada img{
        width: 90%;
        margin-bottom: 2em;
        margin-top: 2.5em;
        margin-left:0em;
    }
    .portada{
        width: 100%;
        height: 20em;         
    }
    .portada-capa{
        height: 20em;
    }
    .welcome{
        width: 100%;        
        margin: 0;
    }
    .description h2{
        font-size: 1.2em;
    }
    .description p{
        font-size: 1em;
        margin: 1em;
    }
    .description button a{
        font-size: 1em;    
        text-decoration: none;
        color: white;    
    }
    .infognral i{
        font-size: 2.5em;      
        padding: .5em;       
    }
    .infognral p{
        font-size: 1em;
        margin: 0em;
    }
    .infognral h3{
        font-size: 1em;
        padding: .5em;
        margin-top: .5em;
    }
    .info1{
        height: 15em;      
    }
    .info2{
        height: 15em;      
    }
    .info3{
        height: 15em;      
    }
    .espacio-cards{
      width: 100%;     
    }
    .card-producto h3{
     font-size: 1.5em;
     padding: .5em;
   
    }
    .card-producto p{
        font-size: 1em;
        padding: .3em;
    }
    .card-producto{
        margin: 2em;
        height: 25em;
    }
    .card-producto img{
        width: 100%;
        height: 15em;
        object-fit: cover;
        object-position: center;        
     }
     .fondo-img{
        height: 15em;
     }
    .cont-contacto
       {/*CONTENEDOR FORMULARIO*/
        width: 100vw;
        height: 40em;
        display: flex;
        justify-content: center;
        }
        .form-contacto{
            width: 100vw;               
             
        }
        .cont-name input{
            width: 80vw;
            height: 4em;
                   
        }
        .cont-mail input{
            width: 80vw;
            height: 4em;
            margin-top: 2em;       
        }
        .cont-tel input{
            width: 80vw;
            height: 4em;
            margin-top: 2em;     
        }
        textarea{
            width: 78vw;
        }
        .cont-btn button{
            width: 80vw;
            height: 2em;
            margin-top: 2em; 
        }
        .cont-footer h4{
            margin-left: 1em;
            padding: .5em;
        }
}
@media screen and (max-width:858px) and (orientation: landscape) 
{
    .menu_items li {
        margin: 5px 0 0 0;
    }
    .menu_items{
        overflow: scroll;
        height: calc(100% - 65px);
    }   
}
@media (min-width: 858px) and (max-width: 1024px){
   
    h1{
        font-size: 1.2em;
    }
    h4{
        font-size: 1em;
    } 


    .espacio-carrusel{
        margin-bottom: 3em;
    }
    .cont-carrusel{
        width: 70vw;
        height: 35em;      
        align-items: center;
        justify-content: center;   
        
    }
    .logo img{
        width: 150px;
        margin-bottom: .5em;
        margin-top:0em;        
    }
    .menu_items li a {
        font-size: 16px;
    }
    .menu{
        width: 100%;
        height: 65px;    }
    

    .logo-portada img{
        width: 90%;
        margin-bottom: 2em;
        margin-top: 2.5em;
        margin-left:0em;
    }
    .portada{
        width: 100%;
        height: 20em;         
    }
    .portada-capa{
        height: 20em;
    }
    .welcome{
        width: 80%;        
        margin: 0;
    }
    .description h2{
        font-size: 1.2em;
    }
    .description p{
        font-size: 1em;
        margin: 1em;
    }
    .description button a{
        font-size: 1em;    
        text-decoration: none;
        color: white;    
    }
    .infognral i{
        font-size: 2.5em;      
        padding: .5em;       
    }
    .infognral p{
        font-size: 1em;
        margin: 0em;
    }
    .infognral h3{
        font-size: 1em;
        padding: .5em;
        margin-top: .5em;
    }
    .info1{
        width: 15em;
        height: 15em;      
    }
    .info2{
        width: 15em;
        height: 15em;      
    }
    .info3{
        width: 15em;
        height: 15em;      
    }
    .espacio-cards{
      width: 100%;     
    }
    .card-producto h3{
     font-size: 1.5em;
     padding: .5em;
   
    }
    .card-producto p{
        font-size: 1em;
        padding: .3em;
    }
    .card-producto{
        margin: 2em;
        height: 25em;
    }
    .card-producto img{
        width: 100%;
        height: 15em;
        object-fit: cover;
        object-position: center;        
     }
     .fondo-img{
        height: 15em;
     }
    .cont-contacto
       {/*CONTENEDOR FORMULARIO*/
        width: 80vw;
        height: 40em;
        display: flex;
        justify-content: center;
        }
        .form-contacto{
            width: 80vw;               
             
        }
        .cont-name input{
            width: 60vw;
            height: 4em;
                   
        }
        .cont-mail input{
            width: 60vw;
            height: 4em;
            margin-top: 2em;       
        }
        .cont-tel input{
            width: 60vw;
            height: 4em;
            margin-top: 2em;     
        }
        textarea{
            width: 60vw;
        }
        .cont-btn button{
            width: 60vw;
            height: 2em;
            margin-top: 2em; 
        }
        .cont-footer h4{
            margin-left: 1em;
            padding: .5em;
        }
}
@media (min-width: 1024px) and (max-width: 1600px){
   
    h1{
        font-size: 1.2em;
    }
    h4{
        font-size: 1em;
    } 


    .espacio-carrusel{
        margin-bottom: 3em;
    }
    .cont-carrusel{
        width: 70vw;
        height: 35em;      
        align-items: center;
        justify-content: center;   
        
    }
    .logo img{
        width: 150px;
        margin-bottom: .5em;
        margin-top:0em;        
    }
    .menu_items li a {
        font-size: 16px;
    }
    .menu{
        width: 100%;
        height: 65px;    }
    

    .logo-portada img{
        width: 90%;
        margin-bottom: 2em;
        margin-top: 2.5em;
        margin-left:0em;
    }
    .portada{
        width: 100%;
        height: 20em;         
    }
    .portada-capa{
        height: 20em;
    }
    .welcome{
        width: 80%;        
        margin: 0;
    }
    .description h2{
        font-size: 1.2em;
    }
    .description p{
        font-size: 1em;
        margin: 1em;
    }
    .description button a{
        font-size: 1em;    
        text-decoration: none;
        color: white;    
    }
    .infognral i{
        font-size: 2.5em;      
        padding: .5em;       
    }
    .infognral p{
        font-size: 1em;
        margin: 0em;
    }
    .infognral h3{
        font-size: 1em;
        padding: .5em;
        margin-top: .5em;
    }
    .info1{
        width: 18em;
        height: 18em;      
    }
    .info2{
        width: 18em;
        height: 18em;      
    }
    .info3{
        width: 18em;
        height: 18em;      
    }
    .espacio-cards{
      width: 80%;     
    }
    .card-producto h3{
     font-size: 1.5em;
     padding: .5em;
   
    }
    .card-producto p{
        font-size: 1em;
        padding: .3em;
    }
    .card-producto{
        margin: 2em;
        height: 25em;
    }
    .card-producto img{
        width: 100%;
        height: 15em;
        object-fit: cover;
        object-position: center;        
     }
     .fondo-img{
        height: 15em;
     }
    .cont-contacto
       {/*CONTENEDOR FORMULARIO*/
        width: 70vw;
        height: 40em;
        display: flex;
        justify-content: center;
        }
        .form-contacto{
            width: 70vw;               
             
        }
        .cont-name input{
            width: 50vw;
            height: 4em;
                   
        }
        .cont-mail input{
            width: 50vw;
            height: 4em;
            margin-top: 2em;       
        }
        .cont-tel input{
            width: 50vw;
            height: 4em;
            margin-top: 2em;     
        }
        textarea{
            width: 50vw;
        }
        .cont-btn button{
            width: 50vw;
            height: 2em;
            margin-top: 2em; 
        }
        .cont-footer h4{
            margin-left: 1em;
            padding: .5em;
        }
}